
{% extends 'base.html' %}
{% block title %}Blog Page{%endblock%}


{%block content%}
<main class="index-content">
    <div class="container">
        <header>
            <div class="category">
                <div class="info">
                    <div class="tag">
                        <i class="fa-solid fa-tag"></i>
                        <span>Coding, Programming</span>
                    </div>
                    <h1 class="title">Web Coding</h1>
                    <p class="subtitle">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam ullam sit inventore quos eum ut quia, sunt repellendus veniam facilis similique accusantium omnis totam, illo deserunt ipsam at rem quam.</p>
                </div>
            </div>
        </header>
        <section class="details">
            <div class="item">
                <h5 class="item-title">Reading Time</h5>
                <p class="item-text"><span
                class="item-data">3</span> Mins</p>
            </div>
            <div class="item">
                <h5 class="item-title">Publish Date</h5>
                <p class="item-text"><span
                class="item-data">May 27,2024</span></p>
            </div>
            <div class="item">
                <h5 class="item-title">Views</h5>
                <p class="item-text"><span
                class="item-data">12.7k</span> Views</p>
            </div>
        </section>
        <article>
            <h4>What is web Coding</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus accusantium aspernatur odit! Veritatis fugiat sit a corrupti nemo molestias voluptatibus, atque vero dignissimos quibusdam iusto quam dolor consequatur magnam ducimus?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi adipisci deleniti blanditiis explicabo illum eaque sed minima provident reiciendis animi consequatur est, perferendis officiis? Consequatur suscipit quibusdam reprehenderit soluta quis!</p>
            
            <h4>Coding Daily,Coding all time</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur deserunt maxime velit commodi voluptates sint officia assumenda enim libero atque vel ducimus aliquid corporis reiciendis mollitia voluptas molestiae, ex ipsum.</p>
        </article>
    </div>
</main>

{%endblock%}
