{% extends 'base.html' %} {% block title %} main {% endblock %} 

{% block content %}
    <div class="blog-container">
        {% for blog in blogs %}
            <div class="blog-box mb-3">
                <img class="blog-img w-100" src="{{blog.image_url}}" alt="Blog" />
                <div class="cat-date-container">
                    <div class="cat-date">
                        <a href="/blog/{{ blog.category }}" class="category">{{blog.category}}</a>
                        <a href="#" class="publish-date">{{blog.publish_date}}</a>
                    </div>
                    <div class="tit-sub">
                        <a class="blog-title" href="/blog/{{ blog.id }}">{{blog.title}}</a>
                    <p class="blog-subtitle">{{blog.subtitle}}</p>
                    </div>
                </div>
                <div class="author-infos-views">
                    <div class="author-infos">
                        <img class="author-photo mr-2" src="{{ blog.author_photograph }}" alt="Author" width="50" height="50" />
                        <p class="author-name">{{blog.author_username}}</p>
                    </div>
                    <div class="views">
                        <small class="blog-views"><i class="far fa-eye mr-2"></i>{{blog.views}}</small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}